@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 98vw;
    height: 98vh;
    background: url(../imagens/fundo-madeira.jpg)  top center no-repeat fixed;
    background-size: cover;
    ba
}

 main {
    position: relative;
    width: 98vw;
    height: 98vh;
 }
 
 
 section#iphone {
    position: absolute;
    background: url(../imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
    
    top: 49vh;
    left: 49vw;
    transform: translate(-50%, -50%);

}

main iframe {
    position: relative;
    width: 44vw;
    height: 53vh;
    bottom: -8.5vh;
    left: 3vw;
}

section#redes{
    position: relative;
    background-color: black;
    width: 7vw;
    height: 35vh;
    margin: 10px;
    left: 92vw;


    
}

img {
    width: 5vw;
}

a {
    padding-bottom: 4px;
}


